{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Exitoso</title>
    <link rel="stylesheet" href="{% static 'css/tienda.css' %}">
</head>
<body>
    <section class="exito">
        <h2>¡Registro exitoso!</h2>
        <p>Gracias por registrarte en nuestra tienda en línea.</p>
        <p><a href="/">Volver a la página principal</a></p>
    </section>
    <footer class="footer">
        <nav class="pie">
            <a href="#">Desarrollado por Daniel Plasencia & Thiare Hernández</a>
        </nav>
    </footer>
</body>
</html>
